/* reset */
body, header, footer, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, figure, fieldset, input, textarea, p, blockquote, th, td{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
/*all*/
li{
  list-style:none;
}
html{
  height: 100%;
}
body{
  height: inherit;
  font-size:12px;
  font-family:黑体;
  background-color: #ececec;
}
a{
  display:block;
  text-decoration:none;
  color:grey;
}
/*header*/
#header{
  height:56px;
  background-color:#2189bf;
  display:block;
  overflow:hidden;
}
#header #logo{
  background-image:url("../img/logo.png");
  background-position:center;
  background-repeat:no-repeat;
  float:left;
  width:36px;
  height:56px;
  margin:0 50px
}
#header input{
  float:right;
  width:230px;
  height:22px;
  border-radius:11px;
  border:none;
  background-image:url("../img/search.png");
  background-repeat:no-repeat;
  background-position:1em;
  padding:0 2em;
  margin:15px 0;
}
#login{
  float:right;
  line-height:56px;
  margin:0 2em;
  padding:0 1.5em;
  background-image:url("../img/login.png");
  background-position:left;
  background-repeat:no-repeat;
  color:white;
  transition-property:color;
  transition-duration:0.3s;
}
#login:hover, #login:focus{
  color:black;
}
/*aside*/
aside{
  width: 260px;
  height: 100%;
  background-color: #2a2d3c;
  /*使用绝对定位，并使aside显示于最底层*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*container*/
#container{
  margin-left: 260px;
  min-width: 1020px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /*以下位置放调试代码*/
  /*background-color: red;*/
  /*height: 100px;*/
}
#container header{
  color: grey;
  width: 100%;
}
#container header p{
  height: 30px;
  background-color: white;
  line-height: 30px;
  padding-left: 30px;
}
/*block*/
.block{
  width: 90%;
  height: 50px;
  margin: 15px;
  /*以下是调试代码*/
  background-color: red;
}
/*价格第二栏*/
.block.price{
  height: 65px;
  display: flex;
  justify-content: space-between;
}
.block>div{
  background-color: white;
  padding: 10px;
  text-align: center;
}
/*价格标签里的几个小块*/
.direction{
  width: 2.5%;
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-position: center;
}
.direction:first-child{
  transform: rotate(180deg);
}
.pricetag{
  width: 13%;
}
.pricetag:hover{
  border-top: 3px #2189bf solid;
}
.pricetag p:first-letter{
  color: grey;
  font-size: 16px;
}
.pricetag p{
  font-size: 2em;
  color: chocolate;
}
.history{
  width: 13%;
  background-image: url(../img/history.png);
  background-repeat:no-repeat;
  background-position: 10px
}
