* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
[class*="item"] {
	border: 1px #f00 solid;
	width: 150px;
	height: 200px;
	padding: 20px;
	margin: 5px;
}
.item1{
	height: 200px;
	border-color: #00f;
	order: -1;
}
.item2{
	height: 120px;
}
.item3{
	height: 100px;
}
.item4{
	height: 40px;
	align-items: flex-start;
}
@media screen and (min-width: 640px) {
	body {
		background-color: tomato;
		justify-content: space-between;
		flex-flow: row nowrap;
		align-content: space-between;
		align-items: center;
	}
	.item1 {
		order: 99;
	}
}