/*initail*/
*{
	margin: 20px auto 20px auto;
	box-sizing: border-box;
}
body,html {
	padding: 0;
	margin: 0 20px 0 20px;
}
form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 20px;
}
div {
	height: 300px;
	border: black 1px solid;
	background-color: #f0f0f0;
}
/*table's css*/
table{
	border-collapse: separate;
	font-weight: bold;
}
thead {
	color: white;
	background-color: black;
}
tbody tr:nth-child(even) {
	background-color: #cbcbcb;
}
/*注意这里写法必须是an+b，写成3-n都不行，必须写-n+3*/
tbody tr:nth-child(-n+3) {
	color: red;
}
input {
	width: 150px;
	transition: 1.5s;
}
input:focus {
	width: 300px;
}
/*背景变换的banner动画*/
div {
	animation: banner 5s;
	position: relative;
	width: 300px;
	border: black 1px solid;
	border-radius: 20px;
	box-shadow: 0px 0px 20px #c0c0c0;
}
@keyframes banner {
	0%   {background: red;top: 0;left: 0;}
	50% {background-color: yellow;top: 0; left: 300px}
	100% {background: green;top: 0;left: 600px;}
}